<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID1992</key>
            <dict>
                <key>frame</key>
                <string>{{582, 0}, {287, 500}}</string>
                <key>offset</key>
                <string>{-89, 15}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{15, 27}, {287, 500}}</string>
                <key>sourceSize</key>
                <string>{495, 583}</string>
            </dict>
            <key>PTModelSprite_ID2011</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {287, 500}}</string>
                <key>offset</key>
                <string>{-89, 15}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{15, 27}, {287, 500}}</string>
                <key>sourceSize</key>
                <string>{495, 583}</string>
            </dict>
            <key>PTModelSprite_ID2002</key>
            <dict>
                <key>frame</key>
                <string>{{291, 0}, {287, 500}}</string>
                <key>offset</key>
                <string>{-89, 15}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{15, 27}, {287, 500}}</string>
                <key>sourceSize</key>
                <string>{495, 583}</string>
            </dict>
            <key>PTModelSprite_ID1974</key>
            <dict>
                <key>frame</key>
                <string>{{873, 0}, {311, 483}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{4, 3}, {311, 483}}</string>
                <key>sourceSize</key>
                <string>{319, 486}</string>
            </dict>
            <key>PTModelSprite_ID1983</key>
            <dict>
                <key>frame</key>
                <string>{{1188, 0}, {311, 483}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{4, 3}, {311, 483}}</string>
                <key>sourceSize</key>
                <string>{319, 486}</string>
            </dict>
            <key>PTModelSprite_ID2024</key>
            <dict>
                <key>frame</key>
                <string>{{1503, 0}, {294, 435}}</string>
                <key>offset</key>
                <string>{12, -8}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{73, 17}, {294, 435}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID2045</key>
            <dict>
                <key>frame</key>
                <string>{{0, 504}, {306, 434}}</string>
                <key>offset</key>
                <string>{21, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{76, 8}, {306, 434}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID2044</key>
            <dict>
                <key>frame</key>
                <string>{{310, 504}, {299, 429}}</string>
                <key>offset</key>
                <string>{16, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{74, 7}, {299, 429}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID2043</key>
            <dict>
                <key>frame</key>
                <string>{{613, 504}, {345, 425}}</string>
                <key>offset</key>
                <string>{-6, -3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{30, 17}, {345, 425}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID1803</key>
            <dict>
                <key>frame</key>
                <string>{{1293, 504}, {333, 392}}</string>
                <key>offset</key>
                <string>{-62, -5}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{72, 60}, {333, 392}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1801</key>
            <dict>
                <key>frame</key>
                <string>{{962, 504}, {327, 392}}</string>
                <key>offset</key>
                <string>{-54, -5}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{83, 60}, {327, 392}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1804</key>
            <dict>
                <key>frame</key>
                <string>{{1630, 504}, {342, 391}}</string>
                <key>offset</key>
                <string>{-68, -6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{62, 61}, {342, 391}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1805</key>
            <dict>
                <key>frame</key>
                <string>{{0, 942}, {358, 389}}</string>
                <key>offset</key>
                <string>{-46, -9}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{76, 65}, {358, 389}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1806</key>
            <dict>
                <key>frame</key>
                <string>{{362, 942}, {371, 387}}</string>
                <key>offset</key>
                <string>{-23, -17}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{92, 74}, {371, 387}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1807</key>
            <dict>
                <key>frame</key>
                <string>{{737, 942}, {377, 379}}</string>
                <key>offset</key>
                <string>{0, -28}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{112, 89}, {377, 379}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1808</key>
            <dict>
                <key>frame</key>
                <string>{{1118, 942}, {378, 362}}</string>
                <key>offset</key>
                <string>{23, -39}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{134, 109}, {378, 362}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1809</key>
            <dict>
                <key>frame</key>
                <string>{{1500, 942}, {374, 337}}</string>
                <key>offset</key>
                <string>{46, -53}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{159, 135}, {374, 337}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1812</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1335}, {411, 322}}</string>
                <key>offset</key>
                <string>{88, -69}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{183, 159}, {411, 322}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1813</key>
            <dict>
                <key>frame</key>
                <string>{{415, 1335}, {415, 315}}</string>
                <key>offset</key>
                <string>{86, -75}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{179, 168}, {415, 315}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1810</key>
            <dict>
                <key>frame</key>
                <string>{{834, 1335}, {383, 309}}</string>
                <key>offset</key>
                <string>{58, -65}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{167, 161}, {383, 309}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1814</key>
            <dict>
                <key>frame</key>
                <string>{{1221, 1335}, {419, 306}}</string>
                <key>offset</key>
                <string>{84, -80}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{175, 178}, {419, 306}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1811</key>
            <dict>
                <key>frame</key>
                <string>{{1644, 1335}, {398, 306}}</string>
                <key>offset</key>
                <string>{74, -63}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{175, 161}, {398, 306}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1815</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1661}, {422, 300}}</string>
                <key>offset</key>
                <string>{84, -86}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{173, 187}, {422, 300}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1816</key>
            <dict>
                <key>frame</key>
                <string>{{426, 1661}, {423, 293}}</string>
                <key>offset</key>
                <string>{83, -93}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{172, 197}, {423, 293}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1817</key>
            <dict>
                <key>frame</key>
                <string>{{853, 1661}, {424, 286}}</string>
                <key>offset</key>
                <string>{83, -99}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{171, 207}, {424, 286}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID1818</key>
            <dict>
                <key>frame</key>
                <string>{{1281, 1661}, {424, 280}}</string>
                <key>offset</key>
                <string>{83, -105}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{171, 216}, {424, 280}}</string>
                <key>sourceSize</key>
                <string>{601, 502}</string>
            </dict>
            <key>PTModelSprite_ID2588</key>
            <dict>
                <key>frame</key>
                <string>{{1709, 1661}, {256, 256}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {256, 256}}</string>
                <key>sourceSize</key>
                <string>{256, 256}</string>
            </dict>
            <key>PTModelSprite_ID4435</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 0}, {146, 147}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {146, 147}}</string>
                <key>sourceSize</key>
                <string>{146, 147}</string>
            </dict>
            <key>PTModelSprite_ID2898</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 151}, {108, 111}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {108, 111}}</string>
                <key>sourceSize</key>
                <string>{108, 111}</string>
            </dict>
            <key>PTModelSprite_ID3327</key>
            <dict>
                <key>frame</key>
                <string>{{1913, 151}, {101, 101}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 101}}</string>
                <key>sourceSize</key>
                <string>{101, 101}</string>
            </dict>
            <key>PTModelSprite_ID2832</key>
            <dict>
                <key>frame</key>
                <string>{{1801, 266}, {101, 101}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 101}}</string>
                <key>sourceSize</key>
                <string>{101, 101}</string>
            </dict>
            <key>PTModelSprite_ID3139</key>
            <dict>
                <key>frame</key>
                <string>{{1906, 266}, {101, 99}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 99}}</string>
                <key>sourceSize</key>
                <string>{101, 99}</string>
            </dict>
            <key>PTModelSprite_ID3125</key>
            <dict>
                <key>frame</key>
                <string>{{1878, 942}, {101, 99}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 99}}</string>
                <key>sourceSize</key>
                <string>{101, 99}</string>
            </dict>
            <key>PTModelSprite_ID3090</key>
            <dict>
                <key>frame</key>
                <string>{{1878, 1045}, {101, 99}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 99}}</string>
                <key>sourceSize</key>
                <string>{101, 99}</string>
            </dict>
            <key>PTModelSprite_ID2887</key>
            <dict>
                <key>frame</key>
                <string>{{1878, 1148}, {145, 88}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {145, 88}}</string>
                <key>sourceSize</key>
                <string>{145, 88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID1802.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID1802.png</string>
        </dict>
    </dict>
</plist>
