<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PTModelSprite_ID4718</key>
            <dict>
                <key>frame</key>
                <string>{{0, 0}, {1000, 750}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1000, 750}}</string>
                <key>sourceSize</key>
                <string>{1000, 750}</string>
            </dict>
            <key>PTModelSprite_ID1573</key>
            <dict>
                <key>frame</key>
                <string>{{0, 754}, {1136, 640}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {1136, 640}}</string>
                <key>sourceSize</key>
                <string>{1136, 640}</string>
            </dict>
            <key>PTModelSprite_ID1711</key>
            <dict>
                <key>frame</key>
                <string>{{1004, 0}, {309, 440}}</string>
                <key>offset</key>
                <string>{8, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{61, 9}, {309, 440}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID1771</key>
            <dict>
                <key>frame</key>
                <string>{{1317, 0}, {311, 435}}</string>
                <key>offset</key>
                <string>{26, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{78, 11}, {311, 435}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID1770</key>
            <dict>
                <key>frame</key>
                <string>{{1632, 0}, {306, 434}}</string>
                <key>offset</key>
                <string>{21, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{76, 8}, {306, 434}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID1769</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 754}, {299, 429}}</string>
                <key>offset</key>
                <string>{16, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{74, 7}, {299, 429}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID1768</key>
            <dict>
                <key>frame</key>
                <string>{{1443, 754}, {345, 425}}</string>
                <key>offset</key>
                <string>{-6, -3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{30, 17}, {345, 425}}</string>
                <key>sourceSize</key>
                <string>{416, 454}</string>
            </dict>
            <key>PTModelSprite_ID5082</key>
            <dict>
                <key>frame</key>
                <string>{{1004, 444}, {318, 287}}</string>
                <key>offset</key>
                <string>{0, -2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{1, 3}, {318, 287}}</string>
                <key>sourceSize</key>
                <string>{320, 290}</string>
            </dict>
            <key>PTModelSprite_ID4822</key>
            <dict>
                <key>frame</key>
                <string>{{1326, 444}, {364, 280}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {364, 280}}</string>
                <key>sourceSize</key>
                <string>{364, 280}</string>
            </dict>
            <key>PTModelSprite_ID5177</key>
            <dict>
                <key>frame</key>
                <string>{{1694, 444}, {250, 234}}</string>
                <key>offset</key>
                <string>{0, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 234}}</string>
                <key>sourceSize</key>
                <string>{250, 245}</string>
            </dict>
            <key>PTModelSprite_ID5143</key>
            <dict>
                <key>frame</key>
                <string>{{1792, 754}, {250, 234}}</string>
                <key>offset</key>
                <string>{0, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 234}}</string>
                <key>sourceSize</key>
                <string>{250, 245}</string>
            </dict>
            <key>PTModelSprite_ID3706</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1398}, {250, 234}}</string>
                <key>offset</key>
                <string>{0, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 234}}</string>
                <key>sourceSize</key>
                <string>{250, 245}</string>
            </dict>
            <key>PTModelSprite_ID4756</key>
            <dict>
                <key>frame</key>
                <string>{{254, 1398}, {250, 234}}</string>
                <key>offset</key>
                <string>{0, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 234}}</string>
                <key>sourceSize</key>
                <string>{250, 245}</string>
            </dict>
            <key>PTModelSprite_ID3682</key>
            <dict>
                <key>frame</key>
                <string>{{508, 1398}, {250, 234}}</string>
                <key>offset</key>
                <string>{0, 6}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {250, 234}}</string>
                <key>sourceSize</key>
                <string>{250, 245}</string>
            </dict>
            <key>PTModelSprite_ID442</key>
            <dict>
                <key>frame</key>
                <string>{{762, 1398}, {234, 233}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {234, 233}}</string>
                <key>sourceSize</key>
                <string>{234, 233}</string>
            </dict>
            <key>PTModelSprite_ID4811</key>
            <dict>
                <key>frame</key>
                <string>{{1000, 1398}, {193, 210}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {193, 210}}</string>
                <key>sourceSize</key>
                <string>{193, 210}</string>
            </dict>
            <key>PTModelSprite_ID342</key>
            <dict>
                <key>frame</key>
                <string>{{1792, 992}, {189, 173}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {189, 173}}</string>
                <key>sourceSize</key>
                <string>{189, 174}</string>
            </dict>
            <key>PTModelSprite_ID4381</key>
            <dict>
                <key>frame</key>
                <string>{{1140, 1187}, {298, 169}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {298, 169}}</string>
                <key>sourceSize</key>
                <string>{298, 169}</string>
            </dict>
            <key>PTModelSprite_ID4332</key>
            <dict>
                <key>frame</key>
                <string>{{1442, 1187}, {298, 169}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {298, 169}}</string>
                <key>sourceSize</key>
                <string>{298, 169}</string>
            </dict>
            <key>PTModelSprite_ID4386</key>
            <dict>
                <key>frame</key>
                <string>{{1197, 1398}, {308, 164}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {308, 164}}</string>
                <key>sourceSize</key>
                <string>{308, 164}</string>
            </dict>
            <key>PTModelSprite_ID4341</key>
            <dict>
                <key>frame</key>
                <string>{{1509, 1398}, {308, 164}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {308, 164}}</string>
                <key>sourceSize</key>
                <string>{308, 164}</string>
            </dict>
            <key>PTModelSprite_ID4054</key>
            <dict>
                <key>frame</key>
                <string>{{1744, 1187}, {153, 152}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {153, 152}}</string>
                <key>sourceSize</key>
                <string>{154, 152}</string>
            </dict>
            <key>PTModelSprite_ID3982</key>
            <dict>
                <key>frame</key>
                <string>{{1821, 1398}, {153, 152}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {153, 152}}</string>
                <key>sourceSize</key>
                <string>{154, 152}</string>
            </dict>
            <key>PTModelSprite_ID4058</key>
            <dict>
                <key>frame</key>
                <string>{{1901, 1187}, {128, 151}}</string>
                <key>offset</key>
                <string>{2, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{13, 1}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID4056</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1636}, {128, 151}}</string>
                <key>offset</key>
                <string>{-2, 2}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{12, 2}, {128, 151}}</string>
                <key>sourceSize</key>
                <string>{156, 158}</string>
            </dict>
            <key>PTModelSprite_ID4055</key>
            <dict>
                <key>frame</key>
                <string>{{132, 1636}, {143, 151}}</string>
                <key>offset</key>
                <string>{1, 3}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{7, 0}, {143, 151}}</string>
                <key>sourceSize</key>
                <string>{156, 156}</string>
            </dict>
            <key>PTModelSprite_ID4057</key>
            <dict>
                <key>frame</key>
                <string>{{1942, 0}, {19, 150}}</string>
                <key>offset</key>
                <string>{-1, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{65, 1}, {19, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID4053</key>
            <dict>
                <key>frame</key>
                <string>{{279, 1636}, {143, 150}}</string>
                <key>offset</key>
                <string>{2, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{5, 1}, {143, 150}}</string>
                <key>sourceSize</key>
                <string>{150, 152}</string>
            </dict>
            <key>PTModelSprite_ID4418</key>
            <dict>
                <key>frame</key>
                <string>{{426, 1636}, {147, 148}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {147, 148}}</string>
                <key>sourceSize</key>
                <string>{147, 148}</string>
            </dict>
            <key>PTModelSprite_ID4393</key>
            <dict>
                <key>frame</key>
                <string>{{577, 1636}, {146, 148}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {146, 148}}</string>
                <key>sourceSize</key>
                <string>{146, 148}</string>
            </dict>
            <key>PTModelSprite_ID4375</key>
            <dict>
                <key>frame</key>
                <string>{{727, 1636}, {146, 148}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {146, 148}}</string>
                <key>sourceSize</key>
                <string>{146, 148}</string>
            </dict>
            <key>PTModelSprite_ID4413</key>
            <dict>
                <key>frame</key>
                <string>{{877, 1636}, {146, 148}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {146, 148}}</string>
                <key>sourceSize</key>
                <string>{146, 148}</string>
            </dict>
            <key>PTModelSprite_ID4403</key>
            <dict>
                <key>frame</key>
                <string>{{1027, 1636}, {146, 148}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {146, 148}}</string>
                <key>sourceSize</key>
                <string>{146, 148}</string>
            </dict>
            <key>PTModelSprite_ID4485</key>
            <dict>
                <key>frame</key>
                <string>{{1177, 1636}, {147, 147}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {147, 147}}</string>
                <key>sourceSize</key>
                <string>{147, 147}</string>
            </dict>
            <key>PTModelSprite_ID4398</key>
            <dict>
                <key>frame</key>
                <string>{{1328, 1636}, {147, 147}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {147, 147}}</string>
                <key>sourceSize</key>
                <string>{147, 147}</string>
            </dict>
            <key>PTModelSprite_ID4430</key>
            <dict>
                <key>frame</key>
                <string>{{1479, 1636}, {147, 147}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {147, 147}}</string>
                <key>sourceSize</key>
                <string>{147, 147}</string>
            </dict>
            <key>PTModelSprite_ID1576</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1791}, {447, 139}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {447, 139}}</string>
                <key>sourceSize</key>
                <string>{447, 139}</string>
            </dict>
            <key>PTModelSprite_ID3731</key>
            <dict>
                <key>frame</key>
                <string>{{1630, 1636}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID3719</key>
            <dict>
                <key>frame</key>
                <string>{{1762, 1636}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1848</key>
            <dict>
                <key>frame</key>
                <string>{{1894, 1636}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1745</key>
            <dict>
                <key>frame</key>
                <string>{{451, 1791}, {128, 128}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 128}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1610</key>
            <dict>
                <key>frame</key>
                <string>{{583, 1791}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1607</key>
            <dict>
                <key>frame</key>
                <string>{{1044, 1791}, {457, 113}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {457, 113}}</string>
                <key>sourceSize</key>
                <string>{457, 113}</string>
            </dict>
            <key>PTModelSprite_ID1604</key>
            <dict>
                <key>frame</key>
                <string>{{1505, 1791}, {417, 109}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {417, 109}}</string>
                <key>sourceSize</key>
                <string>{417, 109}</string>
            </dict>
            <key>PTModelSprite_ID5221</key>
            <dict>
                <key>frame</key>
                <string>{{1926, 1791}, {106, 106}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {106, 106}}</string>
                <key>sourceSize</key>
                <string>{106, 106}</string>
            </dict>
            <key>PTModelSprite_ID1936</key>
            <dict>
                <key>frame</key>
                <string>{{0, 1934}, {106, 106}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {106, 106}}</string>
                <key>sourceSize</key>
                <string>{106, 106}</string>
            </dict>
            <key>PTModelSprite_ID1914</key>
            <dict>
                <key>frame</key>
                <string>{{110, 1934}, {106, 106}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {106, 106}}</string>
                <key>sourceSize</key>
                <string>{106, 106}</string>
            </dict>
            <key>PTModelSprite_ID4945</key>
            <dict>
                <key>frame</key>
                <string>{{1942, 154}, {101, 101}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {101, 101}}</string>
                <key>sourceSize</key>
                <string>{101, 101}</string>
            </dict>
            <key>PTModelSprite_ID4890</key>
            <dict>
                <key>frame</key>
                <string>{{220, 1934}, {128, 99}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 99}}</string>
                <key>sourceSize</key>
                <string>{128, 99}</string>
            </dict>
            <key>PTModelSprite_ID1903</key>
            <dict>
                <key>frame</key>
                <string>{{352, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1891</key>
            <dict>
                <key>frame</key>
                <string>{{484, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1875</key>
            <dict>
                <key>frame</key>
                <string>{{616, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID4721</key>
            <dict>
                <key>frame</key>
                <string>{{748, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 93}</string>
            </dict>
            <key>PTModelSprite_ID4604</key>
            <dict>
                <key>frame</key>
                <string>{{880, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 93}</string>
            </dict>
            <key>PTModelSprite_ID1723</key>
            <dict>
                <key>frame</key>
                <string>{{1012, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1680</key>
            <dict>
                <key>frame</key>
                <string>{{1144, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1734</key>
            <dict>
                <key>frame</key>
                <string>{{1276, 1934}, {128, 93}}</string>
                <key>offset</key>
                <string>{0, 18}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {128, 93}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1567</key>
            <dict>
                <key>frame</key>
                <string>{{1942, 259}, {93, 93}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {93, 93}}</string>
                <key>sourceSize</key>
                <string>{93, 93}</string>
            </dict>
            <key>PTModelSprite_ID1490</key>
            <dict>
                <key>frame</key>
                <string>{{1948, 444}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID1484</key>
            <dict>
                <key>frame</key>
                <string>{{1948, 537}, {81, 89}}</string>
                <key>offset</key>
                <string>{-1, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {81, 89}}</string>
                <key>sourceSize</key>
                <string>{82, 90}</string>
            </dict>
            <key>PTModelSprite_ID2293</key>
            <dict>
                <key>frame</key>
                <string>{{1408, 1934}, {81, 86}}</string>
                <key>offset</key>
                <string>{-6, -13}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{18, 34}, {81, 86}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID1502</key>
            <dict>
                <key>frame</key>
                <string>{{1493, 1934}, {90, 81}}</string>
                <key>offset</key>
                <string>{0, 1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {90, 81}}</string>
                <key>sourceSize</key>
                <string>{90, 82}</string>
            </dict>
            <key>PTModelSprite_ID4836</key>
            <dict>
                <key>frame</key>
                <string>{{1587, 1934}, {124, 78}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {124, 78}}</string>
                <key>sourceSize</key>
                <string>{124, 78}</string>
            </dict>
            <key>PTModelSprite_ID4666</key>
            <dict>
                <key>frame</key>
                <string>{{1942, 356}, {100, 64}}</string>
                <key>offset</key>
                <string>{0, -0}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 0}, {100, 64}}</string>
                <key>sourceSize</key>
                <string>{100, 64}</string>
            </dict>
            <key>PTModelSprite_ID151</key>
            <dict>
                <key>frame</key>
                <string>{{1965, 0}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID110</key>
            <dict>
                <key>frame</key>
                <string>{{1965, 66}, {63, 62}}</string>
                <key>offset</key>
                <string>{0, -1}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{0, 1}, {63, 62}}</string>
                <key>sourceSize</key>
                <string>{63, 63}</string>
            </dict>
            <key>PTModelSprite_ID1756</key>
            <dict>
                <key>frame</key>
                <string>{{1715, 1934}, {94, 61}}</string>
                <key>offset</key>
                <string>{5, -12}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{22, 45}, {94, 61}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
            <key>PTModelSprite_ID2305</key>
            <dict>
                <key>frame</key>
                <string>{{1985, 992}, {59, 53}}</string>
                <key>offset</key>
                <string>{15, -5}</string>
                <key>rotated</key>
                <string>false</string>
                <key>sourceColorRect</key>
                <string>{{49, 42}, {59, 53}}</string>
                <key>sourceSize</key>
                <string>{128, 128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>atlas_ID107.png</string>
            <key>size</key>
            <string>{2048, 2048}</string>
            <key>smartupdate</key>
            <string>$Potion:Smartupdate:$</string>
            <key>textureFileName</key>
            <string>atlas_ID107.png</string>
        </dict>
    </dict>
</plist>
